

<div class="container mb-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{topico.titulo}}</h5>
            <h6 class="card-subtitle my-3 text-muted">Categoria: 
                {% for tag in topico.tag.all  %}<a href='{% url "index-tag" tag=tag.name %}'><span class="badge text-bg-secondary">{{tag}}</span></a> {% endfor %}
            </h6>
            <p class="card-text text-truncate mt-4">{{topico.descricao}}</p>

            <div class="row justify-content-end mx-4">         
              <div class="col-1 position-relative mx-2">
                <span class="badge bg-secondary p-2 rounded-circle">
                    <i class="far fa-clone"></i>
                </span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{topico.post_set.count}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
              </div>
              <div class="col-1 position-relative mx-1">
                <span class="badge bg-secondary p-2 rounded-circle">
                    <i class="fas fa-signal"></i>
                </span>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{topico.visualizacao}}
                    <span class="visually-hidden">unread messages</span>
                  </span>
              </div>
            </div>
            
            <a href="{% url "topico" slug=topico.slug %}" class="card-link">Ver Respostas</a>
        </div>
        <div class="card-footer text-muted">
            Criado em: {{topico.data_criacao}} por {{topico.user.username}}
        </div>
    </div>
</div>



